.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 240px;

  padding: 24px;

  background-color: #222;
  color: #fff;

  border-radius: 8px;

  gap: 8px;

  user-select: none;

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__price {
    font-size: 16px;
    font-weight: 400;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-content: center;

    margin-top: 12px;
    padding: 4px 12px;

    border-radius: 4px;

    background-color: #fff;
    color: #111;

    cursor: pointer;
  }
}
