.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 240px;

  padding: 24px;

  background-color: #222;
  color: #fff;

  border-radius: 8px;

  gap: 8px;

  cursor: pointer;
  user-select: none;

  &__title {
    font-size: 18px;
    font-weight: 500;
  }

  &__price {
    font-size: 16px;
    font-weight: 400;
  }
}
